.Button {
    position: relative;
    background-color: #f39c12;
    border: none;
    border-radius: 15px 0;
    padding: 15px 0;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    font-size: 24px;
    opacity: 1;
    cursor: pointer;
}

.Button:hover {
    background: #fff;
    box-shadow: 0 2px 10px 5px #f39c12;
    color: #52247d;
}

.Button:focus {
    outline: none;
}

.Button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.Button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
