.wrapper{
    background-color: #FFFFE8;
}

.header{
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
    text-transform: uppercase;
    line-height: 1.4;
}
.buttonWrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
}
