.skillBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    max-width: 25%;
    margin: 20px 0;
}

.skillBox h3{
    font-size: 32px;
    padding: 10px 0;
}

.icon{
    font-size: 64px;
}

.descBlock{
    padding: 10px 0;
    font-size: 24px;
}
