header {
    background-color: #181718;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    color: white;
}

.navBar {
    color: white;
    justify-content: flex-end;
    min-width: 40%;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
}
.navBar ul li {
    cursor: pointer;
    transition: color .5s;
}
.navBar ul li:hover {
    color: #f39c12;
}


@media all and (max-width: 800px) {
    .navBar {
        min-width: 60%;
    }
}

@media all and (max-width: 520px) {
    header {
        flex-direction: column;
    }

    .logo {
        text-align: center;
        margin: 15px auto;
    }
    .navBar{
        margin: 15px 0;
    }
}
