.workBox {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: 20px 0;
}

.imgBox {
    position: relative;
    max-width: 700px;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 30px;
    background-image: url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/1884e9zof7czzjpg.jpg);
    background-size: 100%;
    background-position: center;
    transition: all .7s;
}

.img:hover {
    background-size: 250%;
    -webkit-box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 20px auto;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 0;
}

.description {
    font-size: 24px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    word-break: break-word;
    line-height: 1.5;
    text-align: center;
    color: white;
    opacity: 0;
}

.img:hover .title {
    transition: opacity .7s;
    opacity: 1;
}

.img:hover .description {
    transition: opacity .7s;
    opacity: 1;
}

.workButton{
    margin: 0 auto;
    width: 40%;
    opacity: 0;
    transition: .7s;
}


.wrap:hover .workButton {
    opacity: 1;
}


.workButton:hover + div {
    -webkit-box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -50px 82px 165px rgba(0, 0, 0, 0.75);
    background-size: 250%;
}

@media all and (max-width: 900px) {
    .workBox {
        max-width: 100%;
    }
}

