.mySkills{
    padding-top: 5vh;
    padding-bottom: 10vh;
    background: #D6FFE3;
}

.mySkills h1{
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
}

.skillBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


